.gradle
/local.properties
.idea
.DS_Store
*.iml
/build
/vitamio-sample
/vitamio/build
/welActivity
/app/app-release.apk
/.idea
/screenshots
/app/app.iml
bin
build
gen
/.idea/modules.xml
/.idea/misc.xml
app/*.txt
app/*.txt